/* -----------------------------------------------------------------------------
Import FONTS
----------------------------------------------------------------------------- */

@font-face {
    font-family: 'futura-bold-italic';
    src: url('../../assets/fonts/Futura-Bold-Italic.eot');
    src: url('../../assets/fonts/Futura-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Bold-Italic.woff')format('woff'),
      url('../../assets/fonts/Futura-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'futura-bold';
    src: url('../../assets/fonts/Futura-Bold.eot');
    src: url('../../assets/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Bold.woff')format('woff'),
      url('../../assets/fonts/Futura-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'futura-book-italic';
    src: url('../../assets/fonts/Futura-Book-Italic.eot');
    src: url('../../assets/fonts/Futura-Book-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Book-Italic.woff')format('woff'),
      url('../../assets/fonts/Futura-Book-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'futura-book';
    src: url('../../assets/fonts/Futura-Book.eot');
    src: url('../../assets/fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Book.woff')format('woff'),
      url('../../assets/fonts/Futura-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'futura-medium-italic';
    src: url('../../assets/fonts/Futura-Medium-Italic.eot');
    src: url('../../assets/fonts/Futura-Medium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Medium-Italic.woff')format('woff'),
      url('../../assets/fonts/Futura-Medium-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'futura-medium';
    src: url('../../assets/fonts/Futura-Medium.eot');
    src: url('../../assets/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Futura-Medium.woff')format('woff'),
      url('../../assets/fonts/Futura-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
