
// Colors
$dark-blue: #121b3e;
$blue: #4f5984;
$light-blue: #7090cb;
$gray: #aaa8a6;
$light-gray: #f4f4f4;
$white: #fff;
$black: #000;


// Custom Fonts
$font-bold: 'futura-bold';
$font-bold-italic: 'futura-bold-italic';
$font-book: 'futura-book';
$font-book-italic: 'futura-book-italic';
$font-medium: 'futura-medium';
$font-medium-italic: 'futura-medium-italic';